@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Major+Mono+Display&family=Michroma&display=swap');
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/background.png);
  padding-top: 30px;
}
p{
font-family: 'Orbitron', sans-serif;
color:white;

}
h1 {
  font-family: 'Orbitron', sans-serif;
color:white;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.quote {
  font-size: 24px;
  font-style: italic;
  color: white;
  margin-bottom: 30px;
font-family: 'Orbitron', sans-serif;
}

.page-wrapper {
  background-color:#0d0c0c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 40px;
  margin-bottom: 50%;
}

.footer {
  background-color:rgba(0,0,0,0.2);
  color: #fff;
  text-align: center;
  padding: 10px;
  padding-bottom:5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 30px;
  margin: 10px;
}

.logo-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.updates {
  font-size: 16px;
  margin-bottom: 20px;
}



@keyframes wave {
0% { transform: rotate(0deg); }
25% { transform: rotate(30deg); }
50% { transform: rotate(0deg); }
75% { transform: rotate(-30deg); }
100% { transform: rotate(0deg); }

}
