/* REFACTORS FROM TIME101 */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

#c {
  /* matrix rain le whole screen cover garne */
  position: fixed;
  top: 0;
  left: 0;
  /* zindex (background ma rakhne--stackoverflow) */
  z-index: -1;
}

#logo {
  width: 150px;
  height: 150px;
  margin-top: 5vh;
  border-radius: 100px;
  color: white;
}

.white {
  color: white;
}

.size {
  font-size: 25px;
}

.maintitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central-area {
  display: flex;
  align-items: center;
  margin-top: 5vh;
  justify-content: center;
}


form {
  background-color: #101010;
  max-width: 550px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 20px;
}


input[type="Email"],
input[type="number"],
input[type="text"] {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;

  font-size: 18px;
  padding: 12px;
}

::placeholder {
  color: rgb(0, 0, 0);
}


input[type="submit"] {
  background-color: rgb(16, 14, 14);
  font-family: 'Orbitron', sans-serif;
  border: none;
  padding: 20px;
  margin-top: 2vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #8cf028;
  font-size: 20px;
}

input[type="submit"]:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}


footer {
  font-family: 'Orbitron', sans-serif;
  background-color: #222;
  text-align: center;
  bottom: 0;
  padding: 3px;
  left: 0;
  right: 0;
}

@media only screen and (max-width:780px) {
  form {
    max-width: 350px;
    border-radius: 20px;
  }
}