@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');

#c {
  /* matrix rain le whole screen cover garne */
  position: fixed;
  top: 0;
  left: 0;
  /* zindex (background ma rakhne--stackoverflow) */
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  /* matrix rain vanda mathi huney */
  z-index: 1;
}

p {
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 40vh;
}

footer {
  font-family: 'Orbitron', sans-serif;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 3px;
  left: 0;
  right: 0;
}

/*https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css  */
#demo {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}