@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins&display=swap');

#c {
    /* matrix rain le whole screen cover garne */
    position: fixed;
    top: 0;
    left: 0;
    /* zindex (background ma rakhne--stackoverflow) */
    z-index: -1;
}

i {
    color: white;
    padding: 0.38em 0 0 8px;
  }

  #logo {
    width: 150px;
    height: 150px;
    color: white;
  }
#container {
    display: flex;
    flex-direction: column;
    background-size: cover;
}

.item {
    display: flex;
    border-radius: 30px;
    margin: auto;
    width: 700px;
    height: 80vh;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    animation: pic 0.5s ease-in-out 0s forwards;
}



.content {
    font-weight: 900;
    color: rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
}

.name {
    margin-top: 5vh;
    font-weight: 900;
    text-align: center;
    animation: showcontent 1s ease-in-out 1 forwards
}

.des {
    padding: 10px 10px 10px 10px;
    text-align: left;
    animation: showcontent 1s ease-in-out 1 forwards
}

.buttons {
    margin-top: 10vh;
    margin-bottom: 10vh;
    bottom: 30px;
    text-align: center;
}

.buttons button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10%;
    transition: 0.5s;
    background-color: #ffffffa3;
}

.buttons button:hover {
    background-color: #ffffff;
}

#myidname{
    float: right;
}


@media only screen and (max-width:780px) {
    .item {
        display: flex;
        border-radius: 30px;
        margin: auto;
        max-width: 80%;
        height: 50vh;
    }

    #myidname{
        float: none;
    }
}

@keyframes pic {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(80px, 0);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }

}